<% provide(:title, 'about')%>
<h1>About me</h1>
<img style= "height:200px; width:200px; border-radius: 8px; opacity:1.0;" src="https://lh5.googleusercontent.com/-L1ZYY_nmlxA/UCayIOgyChI/AAAAAAAAAAw/OvXF0PhDMPw/s200/Tramcram.jpg">

<p>I'm Tony and this is the way it should be.</p>
