<% provide(:title, 'about')%>
<h1>About me</h1>
<img style= "height:200px; width:200px;" src="https://lh3.googleusercontent.com/-QyFHvfP3qkk/T7LMFBu0vfI/AAAAAAAAAA4/_FnYyOGw8fQ/s512/Tony22.jpg">

<p>I'm Tony and this is the way it should be.</p>
