<% provide(:title, 'home')%>
<h1>54footy</h1>
<iframe width="560" height="315" src="http://www.youtube.com/embed/cR2XilcGYOo" frameborder="0" allowfullscreen></iframe>
<p>Your Heroes here -54footy</p>
