<div class="center hero-unit" id="homegreen">
	<h1>54footy</h1>
	<iframe width="550" height="315" src="http://www.youtube.com/embed/1hQmlFzqJyo" frameborder="0" allowfullscreen></iframe>
	<p>Your Heroes here -54footy</p>
	
	<%= link_to "Pick your Hero", signup_path, class: "btn btn-large btn-primary" %>
	
	<input type="text" data-provide="typeahead" data-source="["Option 1","Option 2","Option 3"]"> <!-- typeahead for Heroes but grayed out? -->
	
	
</div>