@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/*  Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}	
}


#homegreen { 
	color: white;
	letter-spacing: .75px;
}
 /* first heroes feed styling*/

ul.box_qa {
  position: relative;
  z-index: 1;
  overflow: hidden;
  list-style: none;
  li {
    position: relative;
    float: left;
    width: 250px;
    height: 75px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #efefef;
    margin: 0 30px 30px 0;
    background: #FFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
  }
}

ul.box_qv {
  position: relative;
  z-index: 1;
  overflow: hidden;
  list-style: none;
  li {
    position: relative;
    float: left;
    width: 260px;
    height: 180px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #efefef;
    margin: 0 30px 30px 0;
    background: #FFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
  }
}

#hero_name {
	list-style: none;
}

.timestamp {
  padding-top: 8px;
  padding-bottom: 5px;
  color: $grayLight;
}

.videos {
	opacity: 0.4;
	height: 80px;
	width: 80px;
	border-radius: 20px;
	&:hover{
		opacity: 1.0;
	};
}

/*Homepage layout*/

#home_wrapper {
	margin: -20px;
	height: 450px;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#031C6D));	 
	background: -webkit-radial-gradient(circle, #FFF, #031C6D); /* Safari 5.1+, Chrome 10+ */
	background: -moz-radial-gradient(circle, #FFF, #031C6D);   /* Firefox 3.6+ */ 
	background: -ms-radial-gradient(circle, #FFF, #031C6D); /* IE 10 */
}

#home_pic {
padding-top: 20px;
}

#home_123 {
	margin-top: 40px;
}

#home_head {
	font-size: 2.1em;
	margin-left: 600px;
	margin-top: -350px;
}
#home_action {
	margin-left:290px;
	margin-top: 40px;
}
#home_123 {
	height: 300px;
	width: 900px;
}


















